# Models

***

In [1]:
def f(x, p):
    return p[0] + x * p[1]

### Analysis

In [12]:
import seaborn as sns
import numpy as np
import pandas as pd

#Load a dataset
penguins = sns.load_dataset("penguins")
penguins



#Hav a look
#sns.pairplot(penguins, hue = "species")

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [15]:
# pick out two variables
flipper = penguins[['body_mass_g', 'flipper_length_mm']].dropna()
flipper
#scatter and fit line for just those variable
sns.regplot(x="body_mass_g", y="flipper_length_mm", data=penguins)

     body_mass_g  flipper_length_mm
0         3750.0              181.0
1         3800.0              186.0
2         3250.0              195.0
4         3450.0              193.0
5         3650.0              190.0
..           ...                ...
338       4925.0              214.0
340       4850.0              215.0
341       5750.0              222.0
342       5200.0              212.0
343       5400.0              213.0

[342 rows x 2 columns]

### Train

In [4]:
import sklearn.linear_model as lin

x = flipper['body_mass_g'].to_numpy()
y = flipper['flipper_length_mm'].to_numpy()

x = x.reshape(-1,1)


model = lin.LinearRegression()
model.fit(x, y)

r = model.score(x,y)
p = [model.intercept_,  model.coef_[0]]

In [5]:
r

0.7589925193571176

In [6]:
p

[136.729559272662, 0.015275915608037302]

### Predict

In [7]:

f(5100.235,p)

214.6403187138201

In [8]:
def predict(x):
    return (f(x, p))

In [9]:
predict(4500.)

205.47117950882983

In [10]:
u = np.array([4000, 4500, 5000, 6000, 7000, 2000])

f(u,p)

array([197.8332217 , 205.47117951, 213.10913731, 228.38505292,
       243.66096853, 167.28139049])

In [11]:
predict(u)

array([197.8332217 , 205.47117951, 213.10913731, 228.38505292,
       243.66096853, 167.28139049])