## About Functions

In [1]:
#functions

          #function input - below 1 input
def square(n):
    
    
    ans = n*n
    
    #function output
    return ans

In [2]:
square(4)

16

In [3]:
def power(n, m):
    #1 the identifier for multipliction.....0 for addition
    ans = 1
    for i in range(m):
        ans = ans * n
    return ans

In [4]:
power(4,2)

16

In [5]:
def square(n):
    return power(n,2)

In [6]:
square(4)

16

#### Map

* greenspuns tenth rule

In [7]:
# create a list of numbers
numbers = list(range(10))

In [8]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
#apply f to all numbers
def mapall(f,l):
    
    #list creater from another list
    return [f(i) for i in l]

In [15]:
#apply square function from above to list
mapall(square,numbers)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
mapall(float,numbers)

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]

In [17]:
#apply an anonymous function to numbers
mapall(lambda x: x-5, numbers)

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

### Reduce

In [22]:
#Take a list and reduce it to a number
# output is ....f(f(f(1[0], 1[1), 1[2], 1[3]]),)...
def reduceall (f, l):
    #start with first element as answer
    ans = l[0]
    #loop through other elements
    for x in l[1:]:
        #apply f to current answer amd next lsi element
        ans = f(ans, x)
    return ans

In [23]:
#imperative programming languages.......
def plus(x, y):
    """ Replacing an operator with a function"""
    return x + y

In [24]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
#add all elements of numbers
reduceall(plus,numbers)

45

In [28]:
reduceall(plus, mapall(lambda x: x - (sum(numbers) / len(numbers)), numbers))

0.0

In [35]:
#reduceall(+, numbers)

In [36]:
#reduceall(sum,numbers)

#### Data as Functions

In [37]:
def two():
    return 2

In [38]:
two() + two()

4

In [39]:
def four():
    return two() + two()

In [40]:
four()

4

In [46]:
def four_the_func():
    return four

In [47]:
four_the_func()

In [48]:
four_the_func()+four_the_func()

TypeError: unsupported operand type(s) for +: 'function' and 'function'